* {
  box-sizing: border-box;
}

body {
  background-color: #fff8e8;
  color: #231502;
  font-family: 'Lucida Handwriting', cursive, serif;
  margin: 20px;
}

#name {
  font-size: 48px;
  width: fit-content;
  margin: 0 auto;
}

#menu-img {
  display: block;
  width: 550px;
  height: auto;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

#dish {
  display: block;
  width: 550px;
  height: 250px;
  object-fit: cover;
  margin: 5px auto 0;
}

.menu-item {
  width: 500px;
  font-size: 18px;
  margin: 10px auto;
}

.desc {
  font-size: 18px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipe {
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
  text-align: justify;
}

.recipe p,
.recipe ol,
.recipe ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
  color: #d0a671;
  font-weight: bold;
}

.home {
  color: #d0a671;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
